---
const { children, className } = Astro.props;
---
<div class={`container ${className || ''}`}>
  {children}
</div>

<style>
  .container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1200px;

  }
</style>