---
import Layout from '@layouts/Page.astro';
import { Container, TextSection } from "@components/odyssey-theme";
---

<Layout>
  <Container>
    <TextSection narrow>
      <h1>Děkujeme za váš zájem!</h1>
      <p>
        Vaše zpráva byla úspěšně odeslána. V nejbližší době se vám někdo z našeho týmu ozve s dalšími informacemi.
      </p>
      <p>
        Vážíme si vašeho zájmu o zapojení do Hnutí Kruh.
      </p>
    </TextSection>
  </Container>
</Layout>
